.pagination {
    padding: 12px;
    display: block;
}

.pages {
    padding: 14px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.btn-pageNumber {
    min-width: 54px;
    margin: 2px;
}